@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

h1, p, h2, button{
    text-align: center;
}

h1, h2{
    font-family: 'Gloria Hallelujah', cursive;
}

h1{
    font-size: 3em;
    margin: 0;
}

h2{
    margin: 0px;
}

p{
    font-family: roboto;
}

#buttons{
    display: table;
    margin: 0 auto;
}

#buttons img{
    padding: 20px 0;
}

#results{
    margin-top: 50px;
}

#newGame{
    margin: 10px auto;
    display: none;
}

#pickone{
    margin-top: 0;
}

#imageresult{
    margin: 30px auto 0px auto;
    display: block;
}

.makeASelection{
    cursor: pointer;
}